<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/" class="navbar-brand" href="#">Biblioteca</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/libros" tabindex="-1" aria-disabled="true">Libros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/libros_cbv" tabindex="-1" aria-disabled="true">Libros cbv</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="/autores" tabindex="-1" aria-disabled="true">Autores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autores_cbv" tabindex="-1" aria-disabled="true">Autores cbv</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autores_v" tabindex="-1" aria-disabled="true">Autores v</a>
        </li>



        <li class="nav-item">
          <a class="nav-link" href="/editores" tabindex="-1" aria-disabled="true">Editores</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/editores_cbv" tabindex="-1" aria-disabled="true">Editores cbv</a>
        </li>
      </ul>
    </div>
  </div>
</nav>