{% load bibl_tags %}

<div class="bibl-table">
  <div class="bibl-table-header">
    {% if actions and actions.create %}
    <a href="{{actions.create.redirect}}">
      <button type="button" class="btn btn-success">
        {{ actions.create.label }}
      </button>
    </a>
    {% endif %}
    
    {% if buscador %}
      <form action="" method="get" class="d-flex">
        {{ buscador.q }}
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    {% endif %}
  </div>
  <div class="bibl-table-body" style="margin-top: 25px;">
    <table>
    <thead>
      <tr>
        {% for col in fields %}
          <th scope="col">{{ col.label }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for data in object_list %}
        <tr>
          {% comment %} Contenido {% endcomment %}
          {% for col in fields %}
            {% if col.is_link %}
              <td><a href="{{ data|get_value_from_dict:col.key }}"> Ir a sitio </a></td>
            {% endif %}
            
            {% if not col.is_link %}
              <td> {{ data|get_value_from_dict:col.key }} </td>
            {% endif %}
          {% endfor %}
          
          
          {% if actions and actions.update %}
            <td> <a
              href="{{actions.update.redirect}}/{{ data.id }}"
              class="btn btn-secondary">
              {{ actions.update.label }}
            </a></td>
          {% endif %}
          {% if actions and actions.delete %}
            <td><a
              href="{{actions.delete.redirect}}/{{ data.id }}"
              class="btn btn-danger">
              {{ actions.delete.label }}
            </a></td>
          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>
</div>